{% extends 'base.html' %}
{% block content %}
{% load static %}
<div style="height: 100%; flex: 1; display: flex; flex-direction: column; align-items: stretch;">
    <div style="background-color: #152639; position: relative">
      <div class="container" style="padding-top: 20px;">
        <h2 style="color: white; display: inline-block;">Our Movies</h2>
        <form method="GET" style="padding-block: 12px;">
          <div style="display: flex; gap: 20px; max-width: 500px;">
            <div class="col-auto" style="flex: 1;">
              <div class="input-group col-auto">
                <!-- <div class="input-group-text">
                  Search</div> -->
                <input type="text" name="search" placeholder="Search for.." style="border: none; padding: 10px; flex: 1;"></div>
            </div>
            <div class="col-auto">
              <button type="submit" style="color: white; background-color: #B3A368; border: none; padding-block: 10px; padding-inline: 16px;">Search</button>
            </div>
          </div>
        </form>
      </div>
      <div style="position: absolute; bottom: -124px; width: 100%; height: 124px; background-color: #152639; z-index: -1; border-bottom: 8px solid #A5925A"></div>
    </div>
    <div class="container" style="background-color: white; border-top-right-radius: 8px; border-top-left-radius: 8px; padding: 0; margin-top: 20px; box-shadow: 0px 0px 10px -8px black; padding: 40px; flex: 1;">
      <h1 style="color: #152639; border-bottom: 8px solid #A5925A; display: inline-block; font-size: 1.8em;">Available</h1>
      <p style="height: 30px; margin-top: 4px;">
        {% if search_term %}
        Showing results for <span style="color: #A5925A; font-style: italic;">{{ search_term }}</span>
        {% else %}
        Showing all results
        {% endif %}
      </p>
    <div class="movie">
      {% for movie in template_data.movies %} 
      <!--Chat Gpt used to format image correctly-->
      <a href="{% url 'movies.show' movie.id %}" style="display: flex; justify-content: center; flex-direction: column; align-items: stretch; border-radius: 4px; overflow: hidden; border: 1px solid #D8D8D8;">
          <div style="position: relative; height: 300px;">
            <img src="{{ movie.image.url }}" 
                 class="movie-thumbnail"
                 style="object-fit: cover; object-position: top; height: 100%; width: 100%; position: relative;" />
            <div style="position: absolute; top: 0; width: 100%; height: 100%; background: linear-gradient(0deg, rgba(21,38,57,1) 0%, rgba(0,212,255,0) 48%);"></div>
          </div>
            <div class="card-body text-center" style="display: flex; flex-direction: column; background-color: white;">
                <h1 style="font-size: 1.3em; color: #152639; text-align: left; padding-inline: 10px; padding-top: 10px;">{{movie.name}}</h1>
                <p style="font-size: .8em; text-align: left; padding-inline: 10px; color: #919191">{{movie.description|truncatechars:100}}</p>
                <h2 style="font-size: .8em; font-weight: 500; color: #919191; padding-block: 8px; margin-bottom: 0; padding-right: 8px; text-align: right; margin-top: auto; border-top: 1px solid #D8D8D8;">Check it out ></h2>
            </div>
      </a>
      {% endfor %}
      {% if not template_data.movies %}
      <h4>Sorry!</h4>
      <p>We found no movies matching your search.</p>
      {% endif %}
    </div>
  </div>
</div>
<style>
  .movie {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  .movie a {
    color: black;
    text-decoration: none !important;
  }

  @media (max-width: 992px) {
    .movie {
      grid-template-columns: repeat(3, 1fr); 
    }
  }

  @media (max-width: 768px) {
    .movie {
      grid-template-columns: repeat(2, 1fr); 
    }
  }

  /* @media (max-width: 576px) {
    .movie {
      grid-template-columns: repeat(1, 1fr); 
    }
  } */

</style>
{% endblock content %}