{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>{{ template_data.movie.name }}</h2>
        <hr />
        <p><b>Description:</b> {{template_data.movie.description }}</p>
        <p><b>Price:</b> ${{template_data.movie.price }}</p>
        <p class="card-text">
          <form method="POST" action="{% url 'cart.add' id=template_data.movie.id %}">
            <div class="row">
              {% csrf_token %}
              <div class="col-auto">
                  <div class="input-group col-auto">
                      <div class="input-group-text">Quantity
                        </div>
                      <input type="number" min="1" max="10"
                       class="form-control quantity-input"
                       name="quantity" value ="1">
                    </div>
                  </div>
                <div class="col-auto">
                <button class="btn bg-dark text-white" type="submit">Add to cart</button>
              </div>
            </div>
          </form>
        </p>
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{{ template_data.movie.image.url }}"
          class="rounded img-card-400" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}