{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <a href="/movies" style="margin-bottom: 20px; display: block;">&#x25c0 Go back</a>
        <h2 style="color: #003056; border-bottom: 8px solid #B3A368; display: inline-block; margin-bottom: 24px; padding-bottom: 4px;">{{ template_data.movie.name }}</h2>
        <p><b style="color:#003056;">Description:</b> {{template_data.movie.description }}</p>
        <p><b style="color: #003056">Price:</b> ${{template_data.movie.price }}</p>
        <p class="card-text">
          <form method="POST" action="{% url 'cart.add' id=template_data.movie.id %}">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center;">
              {% csrf_token %}
              <div class="col-auto">
                  <div class="input-group col-auto" style="border: 1px solid #003056; border-radius: 8px; overflow: hidden; box-sizing: border-box;">
                      <div style="background-color: #003056; color: white; padding-inline: 10px; padding-block: 8px;">Quantity</div>
                      <input type="number" min="1" max="10"
                       name="quantity" value ="1" style="background-color: white; padding-inline: 10px; padding-block: 8px; border: none">
                    </div>
                  </div>
                <div class="col-auto">
                <button type="submit" style="border: none; background-color: #B3A368; color: white; padding-inline: 10px; padding-block: 8px;">Add to cart</button>
              </div>
            </div>
          </form>
        </p>
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{{ template_data.movie.image.url }}"
          class="rounded img-card-400" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}