{% extends 'base.html' %} {% block content %}
  <div class="hero-image">
    <div class="hero-text">
      <!-- <h2>GT Movie Store</h2> -->
       <img src="/static/img/logo.png" height="50px">
      <p>Let's see if we have your favorites.</p>
      <form method="GET" action="/movies" style="min-width: 400px; display: flex; gap: 8px;">
        <input type="text" name="search" placeholder="Search for.." style="border: none; padding: 10px; flex: 1;">
        <button type="submit" style="color: white; background-color: #B3A368; border: none; padding-block: 10px; padding-inline: 16px;">Search</button>
      </form>
    </div>
  </div>
</header>
<div
  style="
    background-color: #b3a368;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  "
>
  <div
    style="
      height: 100%;
      width: 800px;
      background-color: #7e713d;
      transform: skew(-45deg);
      position: absolute;
      top: 0;
    "
  ></div>
  <a href="/about" style="z-index: 5; color: white; font-size: 20px;">Learn More About Us ></a>
</div>
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div
        class="col mx-auto text-center mb-3"
        style="display: flex; justify-content: center"
      >
        <div class="home-container">
          <div class="boxes">
            <div>
              <h1>1,000+ Movies</h1>
              <h2>you've never seen.</h2>
            </div>
            <div>
              <h1>100+ Genres</h1>
              <h2>for every mood.</h2>
            </div>
            <div>
              <h1>1,000+ Hours</h1>
              <h2>of content to choose from.</h2>
            </div>
          </div>
          <h1 style="font-size: 1em; width: 100%; color: #6D747D">GT Movie Store has all the entertainment you need.</h1>
          <!-- <h4>GT Movie Store</h4> -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
